<mat-toolbar class="topbar">
	<div class="brand">
		<mat-icon class="brand-icon">energy_savings_leaf</mat-icon>
		<div class="brand-text">
			<span class="brand-title">Home</span>
			<span class="brand-sub">Indoor air &amp; climate</span>
		</div>
	</div>
	<span class="spacer"></span>
	<button
		matIconButton
		type="button"
		[matMenuTriggerFor]="viewMenu"
		matTooltip="Switch view"
		aria-label="Switch view"
	>
		<mat-icon>menu</mat-icon>
	</button>
	<button
		matIconButton
		type="button"
		[matTooltip]="themeLabel()"
		aria-label="Toggle colour theme"
		(click)="toggleTheme()"
	>
		<mat-icon>{{ themeIcon() }}</mat-icon>
	</button>
</mat-toolbar>

<mat-menu #viewMenu="matMenu">
	@for (n of nav; track n.path) {
		<a
			mat-menu-item
			[routerLink]="n.path"
			routerLinkActive
			#rla="routerLinkActive"
			[attr.aria-current]="rla.isActive ? 'page' : null"
		>
			<mat-icon>{{ n.icon }}</mat-icon>
			<span>{{ n.label }}</span>
			@if (rla.isActive) {
				<mat-icon class="view-active">check</mat-icon>
			}
		</a>
	}
</mat-menu>

<main class="page">
	<router-outlet />
</main>
